*{background-color: aqua;}

.fuente-google{
    font-family: 'Black Ops One', cursive;
}
#title-h1{
    font-weight: 400;
    font-size: 100px;
}

.font-two-google{
    font-family: 'Sedgwick Ave Display', cursive;
}

.custom-button {
    border: none;
    padding: 12px 24px;
    background-color: cyan;
  }
  .custom-button:hover {
    background-color: rgb(42, 5, 225);
  }