*{background-color: aqua;}

.fuente-google{
    font-family: 'Black Ops One', cursive;
}
#title-h1{
    font-weight: 400;
    font-size: 100px;
}

.font-two-google{
    font-family: 'Sedgwick Ave Display', cursive;
}